{% extends "account/base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block body_class %}profiledata {% endblock %}

{% block head_title %}{% trans "Company Data" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="{% url "create_profiledata" %}">
                <legend>{% trans "Company data" %}</legend>
                {% csrf_token %}
                {{ form|bootstrap }}
                <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
