{% extends "site_base.html" %}
{% load bootstrap questions_tags %}

{% block body_base %}
<div class="container" id="app">
<div class="row">
    <div class="col-md-16">
    <form action="" method="post" accept-charset="utf-8" id="app">
        {% csrf_token %}
        {% if company_form %}
            {{company_form|bootstrap}}
        {% endif %}
        {% for section in sections %}
           <h1 class="text-muted text-center">{{section.name}}</h1>
           {% for subsection in section.subsections.all %}
            <div class="panel  panel-primary">
                <div class="panel-heading">
                    <b>{{subsection.name|upper}}</b>
                </div>

                <div class="panel-body">
                    <table class="table  table-striped">
                        {% for q1 in subsection.questions.all|unanswer:request.user %}
                         <tr>
                             <td>{{q1.ask}}</td>
                             <td>
                                <table class="table">
                                     <tr>
                                         {% for posible_answer in q1.posible_answer.posible_answer.all  %}
                                             <th class="text-center">
                                                    {{posible_answer.name}} 
                                             </th>
                                        {% endfor %}
                                     </tr>
                                     <tr>
                                             {% for posible_answer in q1.posible_answer.posible_answer.all  %}
                                                 <td class="text-center">
                                                     <input name="q_{{q1.id}}" value="{{posible_answer.id}}"  type="radio"/>
                                                 </td>
                                            {% endfor %}
                                     </tr>
                                </table>
                             </td> 
                        </tr>
                        {% ifchanged  q1.posible_answer.description %}
                        <tr style="border: white;">
                            <td colspan="2"> 
                                <small>
                                {{q1.posible_answer.description}}
                                </small>
                            </td>
                        </tr>
                        {% endifchanged %}
                        {% empty %}
                        <tr>
                            <td> <span class="label label-warning">Respondido</span></td>
                        </tr>
                        {% if user_answer_all %}
                            {% for q1 in subsection.questions.all %}
                            {% if q1.recomendation and q1|calif:request.user  %}
                            <tr>
                                <td>
                                   <b>{{q1.ask}}</b>
                                   <p>{{q1.recomendation}}</p>
                                 </td> 
                            </tr>
                            {% else %}
                            <tr>
                                <td>
                                 Sin recomendación.
                                 </td> 
                            </tr>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                            
                        {% endfor %}
                    </table>
                </div>
            </div>
          {% endfor %}    
        {% endfor %}
    <input type="submit" value="Enviar" class="btn btn-default" />                   
    </form>
    </div>
</div>


</div>
<script type="text/javascript" charset="utf-8">

var app = new Vue({
    delimiters: ['{&', '&}'],
}); 
app.$mount("#app");
</script>
{% endblock  %}
